@import url('https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope|Permanent+Marker');

.home-div{
  height: 100vh;
  width: 100vw;
  display:flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  background-color: #46DAE4;
}


h1{
  font-family: 'Annie Use Your Telescope';
  font-size: 70px;
  letter-spacing: 15px;
  text-shadow: 2px 2px #888888;
  color: yellow;
}


.cards{
  display: flex;
  align-items: stretch;
  animation: myfirst 5s 1;
  animation-delay: 2s;
}

@keyframes myfirst {
    0%   {transform: translateX(0px);}
    50% {transform: translateX(-1500px);}
    100%   {transform: translateX(0px);}
}
