::placeholder{
  color: white;
  font-weight: bold;
}

.search{
  width: 40vh;
  height: 60px;
  padding-left: 20px;
  font-size: 16px;
  font-weight: bold;
  border-style: solid;
  border-width: thick;
  background-color: #e01e5a;
  color:white;
  border-color: yellow;
  outline: none;
}

.search-div{
  display: flex;
  align-items: stretch;
}

.search-icon{
  color: white;
  height: 60px;
  width: 60px;
  align-items: center;
  border-width: thick;
  padding-bottom: 2px;
  color:#e01e5a;
  border-style: solid;
  border-color: yellow;
  background-color: yellow;
}
