.search{
  width: 40vh;
  position:relative;
  height: 60px;
  padding-left: 20px;
  font-size: 16px;
  border-style: solid;
  border-width: thick;
  background-color: #46DAE4;
  color:white;
  border-color: yellow;
  outline: none;
}


::placeholder{
  color: white;
  font-weight: bold;
}
